<app-navbar></app-navbar>
<main class="profile-page">
  <div class="bg-indigo-600 py-6 md:py-12 mb-8 overflow-visible max-w-full">
    <div class="container px-4 mx-auto">

      <div class="flex flex-nowrap">
        <div class="mr-1/5">
          <div class="py-24 px-10 text-white w-full">
            <h1 class="text-5xl font-bold sm:text-3xl sm:truncate">
              New Designers
            </h1>
            <p class="italic my-2">for</p>
            <h2 class="text-3xl font-bold">New looking</h2>
            <button class="bg-white text-black font-bold py-2 px-9 mt-16">
              SHOP NOW
            </button>
          </div>
        </div>
        <div class="my-12 px-4 md:px-12">
          <div class="flex flex-wrap -mx-1 lg:-mx-4 space-x-10">

            <div class="my-1 p-1 w-1/3 bg-black md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
              <article class="overflow-hidden">
                <a href="#">
                  <img src="../assets/jacket.jpg" alt="jacket" class="block h-auto w-auto">
                </a>
              </article>
              <header class="items-center leading-tight p-2 md:p-4">
                <h2 class="text-lg items-center">
                  <a href="#" class="no-underline hover:no-underline text-white text-center">
                    buy this at 3,000 Frw
                  </a>
                </h2>
              </header>
            </div>

            <div class="bg-black text-white my-1 p-1 w-1/3 md:w-1/2 lg:my-4 lg:w-1/3">
              <article class="overflow-hidden">
                <a href="#">
                  <img src="../assets/jacket.jpg" alt="jacket" class="block h-auto w-auto">
                </a>
              </article>
              <header class="items-center leading-tight p-2 md:p-4">
                <h2 class="text-lg items-center">
                  <a href="#" class="no-underline hover:no-underline text-white text-center">
                    buy this at 3,000 Frw
                  </a>
                </h2>
              </header>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="category text-white py-6 md:py-12 mb-8 overflow-visible max-w-full">
    <div class="px-4 container mx-auto my-2">
      <div class="m-auto flex items-center justify-between md:justify-center w-1/2">
        <span class="border-b-2 border-t-2 w-24 md:w-24 inline-block ml-2 rounded"></span>

        <h1 class="text-black md:text-2xl font-bold text-center my-8 text-3xl text-xl lg:mx-auto">
          SHOP BY CATEGORY
        </h1>

        <span class="border-b-2 border-t-2 w-24 md:w-24 inline-block ml-2 rounded"></span>
      </div>

      <p class="text-center w-2/3 m-auto text-gray-800">
        orem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt semper mauris et feugiat. Morbi ornare
        eleifend tellus, semper tincidunt augue tincidunt et. Suspendisse quis felis efficitur, lacinia tellus nec,
        vehicula tortor. Duis vitae volutpat nunc, quis sagittis arcu. Duis vitae rutrum justo.
      </p>
    </div>

    <div class="w-full h-full md:h-auto grid grid-cols-3 md:grid-cols-3 gap-24 px-2 py-4">
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
      <!-- <div class="select-none mb-6 w-full">
                <div class="relative pb-64">
                  <a href="#" class="cursor-pointer">
                    <img class="absolute w-full h-full rounded object-cover border-b shadow-md cursor-pointer" src="https://images.unsplash.com/photo-1622193973749-4bbf7f20c1fe" alt="product name" />
                  </a>
                </div>

                <div class="px-4 -mt-16 relative">
                  <div class="bg-white rounded shadow-lg border">
                      <a class="text-gray-800 block mt-2 truncate hover:underline text-lg text-center" href="#">
                        ACCESSORIES
                      </a>
                  </div>
                </div>
              </div> -->

      <!-- item 2 -->
      <!-- <div class="select-none mb-6 w-full">
                <div class="relative pb-64">
                  <a href="#" class="cursor-pointer">
                    <img class="absolute w-full h-full rounded object-cover border-b shadow-md cursor-pointer" src="https://images.unsplash.com/photo-1491024579037-7484729a4420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="product name" />
                  </a>
                </div>

                <div class="px-4 -mt-16 relative">
                  <div class="bg-white rounded shadow-lg border">

                      <a class="text-gray-800 block mt-2 truncate hover:underline text-lg text-center" href="#">
                        CLOTHES
                      </a>
                  </div>
                </div>
              </div> -->

      <!-- item 3 -->
      <!-- <div class="select-none mb-6 w-full">
                <div class="relative pb-64">
                  <a href="#" class="cursor-pointer">
                    <img class="absolute w-full h-full rounded object-cover border-b shadow-md cursor-pointer" src="https://images.unsplash.com/photo-1461141346587-763ab02bced9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80" alt="product name" />
                  </a>
                </div>

                <div class="px-4 -mt-16 relative">
                  <div class="bg-white rounded shadow-lg border">

                      <a class="text-gray-800 block mt-2 truncate hover:underline text-lg text-center" href="#">
                        SHOES
                      </a>
                  </div>
                </div>
              </div> -->
    </div>
  </section>


  <section class="store_items">
    <div class="flex flex-wrap">
      <div class="w-11/12 m-auto">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row bg-gray-600">
          <li class="-mb-px last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase block leading-normal cursor-pointer" (click)="toggleTabs(1)"
              [ngClass]="{'text-gray': openTab !== 1, 'text-gray-600': openTab === 1}">
              for men
            </a>
          </li>
          <li class="-mb-px last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase block leading-normal cursor-pointer" (click)="toggleTabs(2)"
              [ngClass]="{'text-gray': openTab !== 2, 'text-gray-600': openTab === 2}">
              for women
            </a>
          </li>
          <li class="-mb-px last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase block leading-normal cursor-pointer" (click)="toggleTabs(3)"
              [ngClass]="{'text-gray': openTab !== 3, 'text-gray-600': openTab === 3}">
              for kids
            </a>
          </li>
        </ul>
        <div class="relative flex flex-col min-w-0 break-words bg-gray-100 w-full mb-6">
          <div class="px-4 py-5 flex-auto">
            <div class="tab-content tab-space">
              <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                <div class="grid gap-8 grid-cols-3 -mx-1 lg:-mx-4">

                  <app-selected></app-selected>
                  <app-selected></app-selected>
                  <app-selected></app-selected>
                  <app-selected></app-selected>
                </div>
              </div>
              <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                <p>
                  Completely synergize resource taxing relationships via
                  premier niche markets. Professionally cultivate one-to-one
                  customer service with robust ideas.
                  <br />
                  <br />
                  Dynamically innovate resource-leveling customer service for
                  state of the art customer service.
                </p>
              </div>
              <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                <p>
                  Efficiently unleash cross-media information without
                  cross-media value. Quickly maximize timely deliverables for
                  real-time schemas.
                  <br />
                  <br />
                  Dramatically maintain clicks-and-mortar solutions
                  without functional solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cta_Section text-white py-6 md:py-12 mb-8 overflow-visible max-w-full"
    style="background-image:url('https://images.pexels.com/photos/3002552/pexels-photo-3002552.jpeg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="m-auto w-4/5 h-64 mt-5">
      <div class="bg-black opacity-75">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
          <h2 class="text-3xl tracking-tight text-white sm:text-4xl">
            <span class="block font-bold">No matter, what we you cool</span>
            <span class="block text-white italic">Looking stuffs for</span>
          </h2>
          <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow">
              <a href="#"
                class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base text-black bg-white hover:bg-indigo-700">
                Get started
              </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow">
              <a href="#"
                class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base text-black bg-white hover:bg-indigo-50">
                Learn more
              </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow">
              <a href="#"
                class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base text-black bg-white hover:bg-indigo-50">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
