//responsivenes



@font-face {
    font-family: 'FORTE';
    src: url('../../../assets/fonts/forte/FORTE.ttf') format('ttf'),
    url('../../../assets/fonts/forte/FORTE.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    
    }

    @font-face {
        font-family: 'Larsseit';
        src: url('../../../assets/fonts/forte/Larsseit.ttf') format('ttf'),
        url('../../../assets/fonts/forte/Larsseit.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
        
        }


