<div class="p-10 min-h-screen ">
    <dir class="max-w-2x1 max-auto">
        <div class="my-20 capitalize md:uppercase text-center"><h1>Trending brands</h1></div>
        <div class="flex my-10 justify-center">
            <div class="h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
            <div class="ml-6 lg:ml-12 h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
            <div class="ml-6 lg:ml-12 h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
            <div class="ml-6 lg:ml-12 h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
            <div class="ml-6 lg:ml-12 h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
            <div class="ml-6 lg:ml-12 h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
        </div>
        <div class="flex my-10 justify-center mt-5">
            <div class="h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
            <div class="ml-6 lg:ml-12 h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
            <div class="ml-6 lg:ml-12 h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
            <div class="ml-6 lg:ml-12 h-40 w-40 rounded-lg shadow-x1"><img src="../../../../assets/puma-2.jpg" alt="no pic found"></div>
        </div>
    </dir>
</div>