
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}


/* Hide the images by default */
.mySlides {
  display: none;
  @apply w-full h-52;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}




/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.137);
  padding: 2px 16px;
  color: rgb(10, 10, 10);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;

  @apply w-16;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
