<div class="select-none mb-6 w-full">
  <div class="relative pb-64">
    <a href="#" class="cursor-pointer">
      <img class="absolute w-full h-full rounded object-cover border-b shadow-md cursor-pointer" src="https://images.unsplash.com/photo-1622193973749-4bbf7f20c1fe" alt="product name" />
    </a>
  </div>

  <div class="px-4 -mt-16 relative">
    <div class="bg-white rounded shadow-lg border">
        <a class="text-gray-800 block mt-2 truncate hover:underline text-lg text-center" href="#">
          ACCESSORIES
        </a>
    </div>
  </div>
</div>
