@import 'tailwindcss/base';
@import "swiper/swiper-bundle";
@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: normal normal medium  Larsseit;
}
body{
  /*@apply ml-9 mr-9;*/
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  margin-top:150px !important;
}

=======
// *{
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   font: normal normal medium  Larsseit;
// }
// body{
//   @apply ml-9 mr-9;
// }

// .swiper-wrapper {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   display: flex;
//   transition-property: transform;
//   box-sizing: content-box;
//   margin-top:150px !important;
// }
>>>>>>> 31fec7dacd44614bd14e4ad74877ba412cb804f8

// .swiper-button-prev, .swiper-button-next {
//   position: absolute;
//   top: 10%;
//   width: 60px;
//   height: 60px;
//   margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
//   z-index: 10;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: var(--swiper-navigation-color, var(--swiper-theme-color));
//   background-color: #CFCFCF;
// }

<<<<<<< HEAD
.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}

.swiper-button-prev{
  left: auto;
  right: 85px;
}

=======
// .swiper-button-prev:after, .swiper-button-next:after {
//   font-family: swiper-icons;
//   font-size: var(--swiper-navigation-size);
//   text-transform: none !important;
//   letter-spacing: 0;
//   text-transform: none;
//   font-variant: initial;
//   line-height: 1;
//   color: #000;
//   font-size: 15px;
//   font-weight: bold;
// }

// .swiper-button-prev{
//   left: auto;
//   right: 85px;
// }
>>>>>>> 31fec7dacd44614bd14e4ad74877ba412cb804f8
