<div class="p-10 min-h-screen ">
  <dir class="max-w-2x1 max-auto">
<swiper
    [slidesPerView]="4"
    [spaceBetween]="40"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [navigation]="true"
  >
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
    <ng-template swiperSlide><img src="../../../../assets/pexels-kabita-darlami-5788986.jpg" alt="no picture found"></ng-template>
  </swiper>
  </dir>
  </div>